html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home_screen body {
  background-color: #FFD700;
  color: #4169E1;
  text-align: center;
  font-size: 2em;
}

.home_screen h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-150%);
  font-size: 3em;
}

.home_screen p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-75%);
}

.home_screen a {
  color: #E6F1F9;
}

.home_screen a:hover {
  color: #C5A008;
}

.home_screen h1, .home_screen a {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

.characters_page body {
  background-color: #4169E1;
  text-align: center;
  font-size: 2em;
}

.characters_page a {
  color: #E6F1F9;
}

.characters_page a:hover {
  color: #FFD700;
}

.char_btns_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 7em;
}

.aelin_image img {
  width: 7em;
  height: 7em;
}

.dorian_image img {
  width: 5.25em;
  height: 6.75em;
  transform: translateY(-5%);
}

.manon_image img {
  width: 7em;
  height: 7.5em;
  transform: translateY(5%);
}

.yrene_image img {
  width: 6.5em;
  height: 7em;
  transform: translateY(-5%);
}

li {
  position: absolute;
  -webkit-transition: all 1s linear;
}

small{
  color: black;
}

.aelin_profile body {
  background-color: #25B8B8;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.aelin_profile img {
  position: relative;
  top: 7em;
  width: 15em;
  height: 15em;
}

.aelin_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  background-color: turquoise;
  color: #FFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 22px;
  text-transform: translateY(-20%);
  transform: translate(600px, -100px);
  transition: .4s;
}

.aelin_prof_btns:hover {
  background-color: white;
  color:gold;
 box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 /* transform: translateY(-2px); because u transformed original already*/
}

.aelin_prof_hide{
  display:none;
}

.aelin_prof_show{
  display:block;
  border-radius: 5%;
  border spacing: 10px;
  background-color: orange;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: translate(900px, -250px);
}

.dorian_profile body {
  background-color: #294ABD;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.dorian_profile img {
  position: relative;
  top: 3.5em;
  width: 11em;
  height: 13.5em;
}

.dorian_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  background-color: turquoise;
  color: #FFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-transform: translateY(-20%);
  transition: .4s;
}

.dorian_prof_btns:hover {
  background-color: white;
  color: #fff;
 box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 transform: translateY(-7px);
}

.manon_profile body {
  background-color: #F11D1D;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.manon_profile img {
  position: relative;
  top: 3.5em;
  width: 15em;
  height: 15em;
}

.manon_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  background-color: turquoise;
  color: #FFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-transform: translateY(-20%);
  transition: .4s;
}

.manon_prof_btns:hover {
  background-color: white;
  color: #fff;
 box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 transform: translateY(-7px);
}

.yrene_profile body {
  background-color: #9B6CBC;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.yrene_profile img {
  position: relative;
  top: 3.25em;
  width: 13em;
  height: 14em;
}


.yrene_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  background-color: turquoise;
  color: #FFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-transform: translateY(-20%);
  transition: .4s;
}

.yrene_prof_btns:hover {
  background-color: white;
  color: #fff;
 box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
  body {}
}
