html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.home_screen body {
  background-color: #FFD700;
  color: #4169E1;
  text-align: center;
  font-size: 2em;
}

.home_screen h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-150%);
  font-size: 3em;
}

.home_screen p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-75%);
}

.home_screen a {
  color: #E6F1F9;
}

.home_screen a:hover {
  color: #C5A008;
}

.home_screen h1, .home_screen a {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.characters_page body {
  background-color: #4169E1;
  text-align: center;
  font-size: 2em;
}

.characters_page a {
  color: #E6F1F9;
}

.characters_page a:hover {
  color: #FFD700;
}

.char_btns_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 7em;
}

#aelin_img {
  width: 7em;
  height: 7em;
}

.aelin_pg_hide{
  display:none;
}

.aelin_pg_show{
  display:block;
}

.aelin_img_hide img{
  display:none;
}

#dorian_img {
  width: 5.25em;
  height: 6.75em;
  transform: translateY(-5%);
}

.dorian_pg_hide{
  display:none;
}

.dorian_pg_show{
  display:block;
}

.dorian_img_hide img{
  display:none;
}

#manon_img {
  width: 6.5em;
  height: 7.25em;
  transform: translateY(5%);
}

.manon_pg_hide{
  display:none;
}

.manon_pg_show{
  display:block;
}

.manon_img_hide img{
  display:none;
}

#yrene_img {
  width: 6em;
  height: 6.75em;
  transform: translateY(-5%);
}

.yrene_pg_hide{
  display:none;
}

.yrene_pg_show{
  display:block;
}

.yrene_img_hide img{
  display:none;
}


li {
  position: absolute;
  @-webkit-transition: all 1s linear;
}

.aelin_profile body {
  background-color: #FB6207;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.aelin_profile img {
  position: relative;
  top: 7em;
  width: 15em;
  height: 15em;
}

.aelin_profile small{
  color: #D1D1D1;
}

.aelin_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10%;
  background-color: #2EFAEF;
  color: #FFFFFF;
  box-shadow: 0% 10% 20% rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 65%;
  transform: translate(425%, -75%);
  transition: .4s;
}

.aelin_prof_btns:hover {
  background-color: #FFFFFF;
  color: #D1D1D1;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 /* transform: translateY(-2px); because u transformed original already*/
}

.aelin_prof_hide{
  display:none;
}

.aelin_prof_show{
  display:block;
  border-radius: 5%;
  border spacing: 10px;
  background-color: #298332;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  transform: translate(175%, -75%);
}

.dorian_profile body {
  background-color: #294ABD;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.dorian_profile img {
  position: relative;
  top: 7em;
  width: 11em;
  height: 13.5em;
}

.dorian_profile small{
  color: #000000;
}

.dorian_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  background-color: #EA0000;
  color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 65%;
  transform: translate(600px, -50px);
  transition: .4s;
}

.dorian_prof_btns:hover {
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 /* transform: translateY(-2px); because u transformed original already*/
}

.dorian_prof_hide{
  display:none;
}

.dorian_prof_show{
  display:block;
  border-radius: 5%;
  border spacing: 10px;
  background-color: #CFAD20;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: translate(900px, -250px);
}

.manon_profile body {
  background-color: #EA0000;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.manon_profile img {
  position: relative;
  top: 7em;
  width: 15em;
  height: 15em;
}

.manon_profile small{
  color: #CFAD20;
}

.manon_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 65%;
  transform: translate(600px, -100px);
  transition: .4s;
}

.manon_prof_btns:hover {
  background-color: #FFFFFF;
  color: #CFAD20;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 /* transform: translateY(-2px); because u transformed original already*/
}

.manon_prof_hide{
  display:none;
}

.manon_prof_show{
  display:block;
  border-radius: 5%;
  border spacing: 10px;
  background-color: #D1D1D1;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  color: #000000;
  font-size: 20px;
  text-align: center;
  transform: translate(900px, -250px);
}

.yrene_profile body {
  background-color: #A36CA7;
  color: transparent;
  text-align: center;
  font-size: 2em;
}

.yrene_profile img {
  position: relative;
  top: 7em;
  width: 13em;
  height: 14em;
}

.yrene_profile small {
  color: #FFEC64;
}

.yrene_prof_btns {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  background-color: #CFAD20;
  color: #FFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 150px;
  height: 150px;
  font-size: 65%;
  transform: translate(600px, -50px);
  transition: .4s;
}

.yrene_prof_btns:hover {
  background-color: #FFFFFF;
  color: #FFEC64;
 box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
 /* transform: translateY(-2px); because u transformed original already*/
}

.yrene_prof_hide{
  display:none;
}

.yrene_prof_show{
  display:block;
  border-radius: 5%;
  border spacing: 10px;
  background-color: #874903;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  color: white;
  font-size: 20px;
  text-align: center;
  transform: translate(900px, -250px);
}

@media only screen and (max-width: 600px) {
  body {}
}
