
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* LEVEL 11: This is a universal selector that allows me to apply styling to all elements inside of a class. I have used this selector to set a universal font-size for my body. */
.my-favorite-things * {
  font-size: 1em;
}

/* level 4: here I am selecting an element within another elemen, specifically header 1 inside of <body>. Any styling will only be applied to h1. */
body h1 {
  color: white;
  font-size: 2em;
}

/* LEVEL 7: here I am selecting an element by combining their id selector and class selector. What this does is isolate this id selector so that styling may only be applied to this specific element.*/
#first-line p {
  color: seagreen;
}

/* Following is just an example for assingment */
/* LEVEL 14: Selecting direct children of an element. The first p tag within the "outer-container" id is being selected. Anything below the p tag in the heirarchy is not selected. */
#outer-container > p {
}

/* LEVEL 18: Selecting an element by its order in another element. The third p tag as a child element within the body was selected. Elements that are not p tags, or are not the third p tag are not selected. */
p:nth-child(3) {
  color:blue;
}

/* LEVEL: 23 Selecting elements that are the only ones of their type within the parent element. Here, the green text style has been applied to any p's which are the only ones of their type within a div. If there are multiple p's within one particular div, neither will be styled. */
div p:only-of-type {
  color:green;
}
/* example ends here */

body {
  background-color: thistle;
  color: black;
  text-align: center;
  font-size: 2em;
}

.my-favorite-things {
  width: 60%;
  display: block;
  margin: auto;
}

img {
  width: 40%;
  padding: 2em;
}
