
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: thistle;
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: courier new;
}

.my-favorite-things {
  width: 60%;
  display: block;
  margin: auto;
}

/* LEVEL 11: This is a universal selector that allows me to apply styling to all elements inside of a class. I have used this selector to set a universal font-size for my body. */
.my-favorite-things * {
  font-size: 1em;
}

/* LEVEL 4: here I am selecting an element within another elemen, specifically header 1 inside of <body>. Any styling will only be applied to h1. */
body h1 {
  color: white;
  font-size: 2em;
}

/* LEVEL 7: here I am selecting an element by combining their id selector and class selector. What this does is isolate this id selector so that styling may only be applied to this specific element.*/
#first-line p {
  color: seagreen;
}

/* LEVEL 17: The last-child selectpr selects the last element of another element. Since I have written each line as header 2, using this selector will only apply to style to the last h2 tag. */
h2:last-child {
 color: black
}

/* LEVEL  */
h2:nth-of-type(2) {
 color: purple;
}

h2:nth-of-type(2) {
 color: purple;
}
